<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <title>IoTRACK</title>
</head>

<body>




    <div class="dashboard">

        <div class="debug">
            <h2>IoTRACK</h2>
            {% if satName %}
            <p>Satellite: {{ satName }}</p>
            {% endif %}

            {% if location %}
            <p>Location: {{ location }}</p>
            {% endif %}
        </div>

        <div class="time-container">
            <h2>Time Display</h2>
            <p id="ist-time"></p>
            <p id="utc-time"></p>

        </div>

        <div class="input-section">
            <h2>Prediction Time Input</h2>
              
            <form action="{{ url_for('loadTLE') }}" method="POST">
                <label>
                    <input type="checkbox" name="amateur"> Amateur
                </label><br>
                <label>
                    <input type="checkbox" name="weather"> Station
                </label><br>
                <label>
                    <input type="checkbox" name="cubesat"> Cubesat
                </label><br>
                <label>
                    <input type="checkbox" name="other"> Other
                </label><br>
            
                <!-- Add more checkboxes as needed -->
            
                <button type="submit">Load TLEs</button>
            </form>
            
            
            <form action="{{ url_for('mainPage') }}" method="post">
                <label for="user_input0">Enter SatName :</label>
                <input type="text" id="user_input0" name="user_input0">

                <label for="user_input1">Enter Location :</label>
                <input type="text" id="user_input1" name="user_input1">


                <label for="prediction_start_date">Prediction Start Date:</label>
                <input type="date" id="prediction_start_date" name="prediction_start_date"><br>

                <label for="prediction_end_date">Prediction End Date:</label>
                <input type="date" id="prediction_end_date" name="prediction_end_date"><br>

                <input type="submit" value="Predict" name="submit_button_time">
            </form>
        </div>

        {% if show_predictor %}
        <div class="prediction-section">
            <h2>Predicted Path</h2>
            <div class="table-container">
                <table>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Azi</th>
                        <th>Elev</th>
                    </tr>
                    {% for path in prediction %}
                    <tr>
                        <td>{{ path.group }}</td>
                        <td>{{ path.name }}</td>
                        <td>{{ path.date }}</td>
                        <td>{{ path.time }}</td>
                        <td>{{ path.azi }}</td>
                        <td>{{ path.elev }}</td>
                    </tr>
                    {% if path.name == 'LOS' %}
                    <tr>
                        <td colspan="5" height="20px"></td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </table>
            </div> <!--  for table-container -->
        </div><!--  for prediction-section  -->
        {% endif %}
    </div><!--  for dashboard -->
</body>

</html>